{% include "copyright.jinja" %}

#![allow(non_camel_case_types)]
#![allow(non_snake_case)]

use std::ffi::c_void;
use std::panic::{catch_unwind, AssertUnwindSafe};
use libc;

{% for i in gen_file.includes %}
use {{ i }};
{% endfor %}

{% for def in defs %}
{% if def.Function %}
{% include "ffi/function.jinja" %}
{% elif def.Object %}
{% include "ffi/object.jinja" %}
{% endif %}
{% endfor %}
